body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thoughts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.func-button{
  padding-top: 2em;
  display: flex;
  flex-direction: row;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin-left: 160px;
  padding: 0px 10px;
  flex: 1;
}

.main {
  display: grid;
  place-items: center;
}

img {
  width: 30vw;
  height: 30vh;
}


.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.navbar1{
  display: flex;
  justify-content: flex-end;
}
.sign-in{
  margin-top: 70px;
  border: 0.05em solid silver;
  padding: 50px;

  box-shadow: 5px 10px #888888;
  border-radius: 5%;



}
.sign-in input{
  box-shadow: 3px 5px #888888;
}
input[type='submit']{
  margin: 20px auto;
  box-shadow: 2px 5px #888888;
}
